doctype html

block content
  h1= title

  if dados && dados._foto
    img(src=`/images/${dados._foto}`, alt="Foto do usuário", style="max-width:240px")

  p Nome: #{dados._nome}
  h3 Sua carta
  p= dados._carta