doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/home.css')

  body
    block content
      .home-bg
        .page-center
          .home-card
            h1 Escreva uma mensagem para o seu futuro "eu"
            a(href="/cadastro") Ir para o cadastro
            a(href="/login") Ir para o login

